extends layout

block content
    h1= title
    form#formAddUser(name="addparking",method="post",action="/addparking")
        input#inputType(type="text", placeholder="type", name="type")
        input#inputAddress(type="text", placeholder="address", name="address")
        input#inputSpace(type="text", placeholder="space", name="space")
        button#btnSubmit(type="submit") submit
